# Variables
CONFIG="${XDG_CONFIG_HOME:-$HOME/.config}"
LIBEXEC="$HOME/.local/libexec"


# Screen, wallpaper {{{

# IMPROVE set-monitor screen to use maximum resolution by default in any monitor
# maybe receive monitor ID (name) and set that accordingly
# maybe also an interactive mode
# Screens
# TODO
# which set-monitor && { 
  # Configure the set-monitor program
  # set-monitor;
# } || {
  # By default use maximum resolution of the screens
  # Since it will be quite a bit hardcoded
# }
set-monitor 2> /dev/null || {
  # Fallback, in case there is a problem with the script
  s1=$(xrandr | grep -P ' connected .*primary.*' | awk '{print $1}');
  s2=$(xrandr | grep -P ' connected (?!.*primary.*)' | awk '{print $1}');
  s1_opts="--mode 1920x1080 --pos 0x0 --rotate normal";
  s2_opts="--off";
  
  [ "$secondary" == "" ] && s2_opts="--mode 1920x1080 --pos 1920x0 --rotate normal";

  xrandr --output $s1 --primary $s1_opts \
         --output $s2 $s2_opts;
}

# Compositor
which picom && picom & disown

# Wallpaper
which feh && {
  wallpaper="$CONFIG/wallpaper/wallpaper";
  [ -f "$wallpaper" ] || wallpaper="$CONFIG/wallpaper/fallback.png";
  feh --no-fehbg --bg-scale "$wallpaper";
}

# }}}


# Input {{{

# Keyboard layout
setxkbmap es
# To alternate between spanish (es) and english (us) layout by pressing
# <Meta>(Win) and <Space> simultaneously
# setxkbmap -layout es,us -option grp:win_space_toggle

# Mouse
mouse="$(xinput list | grep -P 'Logitech.*pointer')"
if [ $(echo -n "$mouse" | wc -l) -eq 1 ]
then
  mouse_id=$(awk '{match($0, /id=([0-9]+)/, m); print m[1]}' <<< "$mouse")
  xinput set-prop $mouse_id \
         'Coordinate Transformation Matrix' \
         0.43 0 0 0 0.43 0 0 0 1
fi

# Touchpad
touchpad="$(xinput list | grep -P 'Touchpad.*pointer')"
if [ $(xinput list | grep 'Touchpad' | wc -l) -eq 1 ]
then
  touchpad_id=$(awk '{match($0, /id=([0-9]+)/, m); print m[1]}' <<< "$touchpad")
  xinput set-prop $touchpad_id \
         'libinput Tapping Enabled' 1
  xinput set-prop $touchpad_id \
         'libinput Natural Scrolling Enabled' 1
  xinput set-prop $touchpad_id \
         'Coordinate Transformation Matrix'\
         0.75 0 0 0 0.75 0 0 0 1
fi

# }}}


# System tray widgets {{{

# Disk mounter (do not automount)
# udiskie -t -A & disown

# Battery icon
# cbatticon -r 20 -l 30 &

# }}}


# Programs {{{

# Uptime session
echo $(date +"%s") > /tmp/start_session.tmp

# Safe Eyes
$LIBEXEC/safeeyes.sh & disown

# Break
$LIBEXEC/break.sh & disown

# Activity
$LIBEXEC/activity.py & disown

# }}}
